.modal
	display none

	&__overlay
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		z-index 1

	&__box
		position fixed
		top 50%
		left 50%
		right auto
		bottom auto
		margin-top -171px
		margin-left -200px
		padding 55px 0 50px
		z-index 2
		width 400px
		background #fff
		text-align center
		box-shadow 0 7px 15px rgba(0, 0, 0, .15)

		&.modal--review-success
			margin-top -150px
			margin-left -320px
			width 640px

		@media (max-width: $tablet-bp)
			left 0
			margin-left 0
			width 100%

			&.modal--review-success
				left 0
				margin-left 0
				width 100%

	&__title
		margin 0 0 28px
		font-size 30px
		font-weight 600
		white-space pre
		text-transform uppercase

		@media (max-width: $tablet-bp)
			font-size 18px

	&__text
		margin-bottom 35px

		@media (max-width: $tablet-bp)
			padding 0 15px
