.modal.modal--review-fault.modal__overlay

.modal.modal--review-fault.modal__box
	p.modal__title
		| Что-то пошло
		| не так!
		
	p.modal__text.text
		| Проверьте поля, выделенные красным,
		| скорее всего вы забыли их заполнить
		
	a.modal__ok.btn.btn--ok(href="") OK


.modal.modal--review-success.modal__overlay

.modal.modal--review-success.modal__box
	p.modal__title Ваш отзыв отправлен!
		
	p.modal__text.text
		| Спасибо за ваше участие, ваш отзыв уже поступил к нам.
		| В ближайшее время мы опубликуем его на сайте.
		
	a.modal__ok.btn.btn--close(href="") Закрыть окно
