.stuff
	.stuff__item
		i.stuff__icon.stuff__icon--house.stuff__icon.stuff__icon--house--desktop
		i.stuff__icon.stuff__icon--house.stuff__icon.stuff__icon--house--mobile
		
		.stuff__info
			h2.stuff__title.text.text--title Жилье
			
			p.stuff__text.text
				| Рекомендуем пожить в настоящем
				| мотеле, все как в кино!
			
	.stuff__item
		i.stuff__icon.stuff__icon--burger.stuff__icon.stuff__icon--burger--desktop
		i.stuff__icon.stuff__icon--burger.stuff__icon.stuff__icon--burger--mobile
		
		.stuff__info
			h2.stuff__title.text.text--title Еда
			
			p.stuff__text.text
				| Всегда заказывай ФИРМЕННЫЙ БУРГЕР,
				| Вы НЕ разочаруетесь!
			
	.stuff__item
		i.stuff__icon.stuff__icon--gift.stuff__icon.stuff__icon--gift--desktop
		i.stuff__icon.stuff__icon--gift.stuff__icon.stuff__icon--gift--mobile
		
		.stuff__info
			h2.stuff__title.text.text--title Сувениры
			
			p.stuff__text.text
				| Не только китайского,
				| но и местного производства!
