.offer
	padding 55px 0 60px

	@media (max-width: $mobile-bp)
		padding-top 32px
		padding-bottom 50px

	&__title
		margin-bottom 28px
		font-size 30px
		font-weight 600

		@media (max-width: $mobile-bp)
			font-size 21px

	&__text
		margin-bottom 50px

		@media (max-width: $mobile-bp)
			margin-bottom 40px
			padding 0 20px
