.advantage-block.advantage-block--2
	.advantage-block__info
		h2.advantage-block__title.text.text--title.text--light
			| Там есть
			| мост дьявола

		p.advantage-block__order.text.text--light — №2 —

		p.advantage-block__text.text.text--light
			| Да, по нему можно пройти!
			| Если конечно вы осмелитесь
			
	.advantage-block__image.advantage-block__image--2
