.advantage-block.advantage-block--3
	.advantage-block__item
		h2.advantage-block__title.text.text--title
			| Небольшая
			| площадь

		p.advantage-block__order.text — №3 —

		p.advantage-block__text.text
			| ВСЕ достопримеча-
			| тельности находятся очень близко
			
	.advantage-block__item
		h2.advantage-block__title.text.text--title
			| Красивая
			| дорога

		p.advantage-block__order.text — №4 —

		p.advantage-block__text.text
			| Ехать в седону из Лас-Вегаса совсем
			| не скучно
			
	.advantage-block__item
		h2.advantage-block__title.text.text--title
			| Мало
			| туристов

		p.advantage-block__order.text — №5 —

		p.advantage-block__text.text
			| Большинство едет в гранд каньон и
			| толпится там
