.advantage-block
	.advantage-block__info
		h2.advantage-block__title.text.text--title.text--light
			| Настоящий
			| городок

		p.advantage-block__order.text.text--light — №1 —

		p.advantage-block__text.text.text--light
			| Седона не атракцион для туристов,
			| там течет своя жизнь

	.advantage-block__image.advantage-block__image--1
