section.gallery
	h1.gallery__title.text.text--title Фото и Видео
	
	p.gallery__text.text
		| Не можете решиться на путешествие из-за курса?
		| Фотографии помогут вам забыть о политике и экономике.
	
	.gallery__item
		.gallery__container.gallery__container--full
			img(src="images/gallery_1.jpg", alt="")
			
			.gallery__footer
				.gallery__info
					h3.gallery__name.text.text--light Неродные просторы
					
					p.gallery__author Автор фото: Борис
					
				.gallery__likes
					i.gallery__thumbup.gallery__thumbup--desktop
					i.gallery__thumbup.gallery__thumbup--tablet
					
					span.gallery__value.text.text--light 1350
		
	.gallery__list
		.gallery__item.gallery__item--list
			.gallery__container
				img(src="images/gallery_2.jpg", alt="")
				
				.gallery__footer
					.gallery__info
						h3.gallery__name.text.text--light Местная растительность
						
						p.gallery__author Автор фото: Сергей
						
					.gallery__likes
						i.gallery__thumbup.gallery__thumbup--desktop
						i.gallery__thumbup.gallery__thumbup--tablet
						
						span.gallery__value.text.text--light 143
		
		.gallery__item.gallery__item--list
			.gallery__container
				img(src="images/gallery_3.jpg", alt="")
				
				.gallery__footer
					.gallery__info
						h3.gallery__name.text.text--light Дорога на север
						
						p.gallery__author Автор фото: Петр
						
					.gallery__likes
						i.gallery__thumbup.gallery__thumbup--desktop
						i.gallery__thumbup.gallery__thumbup--tablet
						
						span.gallery__value.text.text--light 96
		
		.gallery__item.gallery__item--list
			.gallery__container
				img(src="images/gallery_4.jpg", alt="")
				
				.gallery__footer
					.gallery__info
						h3.gallery__name.text.text--light Мост дьявола
						
						p.gallery__author Автор фото: Антон
						
					.gallery__likes
						i.gallery__thumbup.gallery__thumbup--desktop
						i.gallery__thumbup.gallery__thumbup--tablet
						
						span.gallery__value.text.text--light 254
