.socials
	display flex
	flex-direction row
	justify-content center

	@media (max-width: $mobile-bp)
		margin-top 35px
		margin-bottom 40px

	&__btn
		margin 0 3px
		display flex
		align-items center
		justify-content center

		&:active

			& .socials__icon
				opacity .3

	&__icon
		display inline-block

		&--twitter
			@extend $twitter

		&--facebook
			@extend $facebook

		&--youtube
			@extend $youtube
