.socials
	a.socials__btn.btn.btn--social(href="javascript:void(0)")
		i.socials__icon.socials__icon--twitter
		
	a.socials__btn.btn.btn--social(href="javascript:void(0)")
		i.socials__icon.socials__icon--facebook
		
	a.socials__btn.btn.btn--social(href="javascript:void(0)")
		i.socials__icon.socials__icon--youtube
