.btn
	display inline-block
	height 58px
	line-height 58px
	text-transform uppercase
	text-decoration none
	font-size 21px
	font-weight 600
	color #fff
	background-color $blue

	&:hover
		color #fff
		background-color $blue-darker

	&:active
		color rgba(255, 255, 255, .3)
		background-color $blue-dark

	&--disabled
		background-color #e5e5e5

	&--find
		padding 0 135px

		@media (max-width: $mobile-bp)
			padding 0
			width 88%

	&--social
		width 48px
		height 48px
		line-height normal

	&--review
		padding 0 149px
		border 0
		outline 0
		cursor pointer
		transition all .2s ease

		@media (max-width: $desktop-bp)
			padding 0 70px

	&--ok
		padding 0 122px

		@media (max-width: $tablet-bp)
			padding 0
			width 280px
			font-size 18px

	&--close
		padding 0 153px

		@media (max-width: $tablet-bp)
			padding 0
			width 280px
			font-size 18px
