$svg-common 
	background url("../icons/icons.svg") no-repeat

$bars
	@extend $svg-common
	background-position 0 0
	width 22.9px
	height 22px

$burger
	@extend $svg-common
	background-position 0.7914386979112901% 0
	width 41.9px
	height 37.9px

$burger2x
	@extend $svg-common
	background-position 2.263388815377115% 0
	width 76.2px
	height 69px

$close
	@extend $svg-common
	background-position 4.853373436325107% 0
	width 22.2px
	height 22.2px

$facebook
	@extend $svg-common
	background-position 5.613581464974653% 0
	width 8.7px
	height 18.9px

$fullscreen
	@extend $svg-common
	background-position 5.942622950819672% 0
	width 20px
	height 20px

$fullscreen_gray
	@extend $svg-common
	background-position 6.6256830601092895% 0
	width 20px
	height 20px

$gift
	@extend $svg-common
	background-position 7.345621803453128% 0
	width 34.7px
	height 41.3px

$gift2x
	@extend $svg-common
	background-position 8.630849220103986% 0
	width 63px
	height 75.1px

$house
	@extend $svg-common
	background-position 10.733083353400529% 0
	width 41.1px
	height 39.8px

$house2x
	@extend $svg-common
	background-position 12.320328542094455% 0
	width 74.7px
	height 72.3px

$htmlacademy
	@extend $svg-common
	background-position 14.686248331108144% 0
	width 26.9px
	height 34.1px

$htmlacademy_active
	@extend $svg-common
	background-position 15.610557666632433% 0
	width 26.9px
	height 34.1px

$htmlacademy_hover
	@extend $svg-common
	background-position 16.534867002156723% 0
	width 26.9px
	height 34.1px

$intro_bottom
	@extend $svg-common
	background-position 29.176201372997713% 0
	width 1200px
	height 57px

$intro_text
	@extend $svg-common
	background-position 68.72437906920666% 0
	width 459.8px
	height 350.1px

$intro_text--mobile
	@extend $svg-common
	background-position 81.20953557127353% 0
	width 275.9px
	height 210px

$logo
	@extend $svg-common
	background-position 88.57825740566379% 0
	width 186.6px
	height 96.4px

$logo--tablet
	@extend $svg-common
	background-position 92.50606049959596% 0
	width 101.7px
	height 84px

$mail
	@extend $svg-common
	background-position 93.28103683492496% 0
	width 16px
	height 12px

$pause
	@extend $svg-common
	background-position 93.89398955595753% 0
	width 18.1px
	height 20.3px

$pause_gray
	@extend $svg-common
	background-position 94.54247585241816% 0
	width 18.1px
	height 20.3px

$play
	@extend $svg-common
	background-position 95.18771331058021% 0
	width 18px
	height 20.3px

$play_gray
	@extend $svg-common
	background-position 95.80204778156997% 0
	width 18px
	height 20.3px

$tel
	@extend $svg-common
	background-position 96.41638225255973% 0
	width 18px
	height 18px

$thumbup
	@extend $svg-common
	background-position 97.16336295283664% 0
	width 22px
	height 20px

$thumbup_gray
	@extend $svg-common
	background-position 97.91524265208476% 0
	width 22px
	height 20px

$tick
	@extend $svg-common
	background-position 98.7008547008547% 0
	width 23px
	height 16.2px

$twitter
	@extend $svg-common
	background-position 99.30046067224023% 0
	width 17.5px
	height 14.7px

$youtube
	@extend $svg-common
	background-position 100% 0
	width 20px
	height 14px

