.footer
	display flex
	align-items center
	justify-content center
	height 120px

	@media (max-width: $mobile-bp)
		padding-top 38px
		padding-bottom 23px
		flex-direction column
		height auto

	&__item
		flex 1

		&--hashtag
			text-align left

	&__hashtag
		margin-left 130px
		font-weight 600
		text-decoration none

		@media (max-width: $tablet-bp)
			margin-left 60px

		@media (max-width: $mobile-bp)
			margin-left 0
			font-size 21px

	&__maker
		margin 0
		padding-right 45px
		display flex
		align-items center
		justify-content flex-end

		@media (max-width: $tablet-bp)
			padding-right 60px

		@media (max-width: $mobile-bp)
			padding-right 0

	&__studio

		&-logo
			display block
			@extend $htmlacademy

			&:hover
				@extend $htmlacademy_hover

			&:active
				@extend $htmlacademy_active

		&-link
			margin-left 10px
