footer.footer
	.footer__item.footer__item--hashtag
		a.footer__hashtag.text.text--title(href="javascript:void(0)") #VISITSEDONA
	
	.footer__item
		include ../socials/socials
	
	.footer__item.footer__item--maker
		p.footer__maker
			span.text Разработано
			a.footer__studio-link(href="https://htmlacademy.ru/")
				i.footer__studio-logo
