extends ./layout

block content
	.wrapper
		- var page = 'gallery'
		include ../blocks/menu/menu
		
		include ../blocks/intro/intro
		
		main
			include ../blocks/gallery/gallery
			
			include ../blocks/video/video
		
		include ../blocks/footer/footer
	
