extends ./layout

block content
	.wrapper
		- var page = 'index'
		include ../blocks/menu/menu
		
		include ../blocks/intro/intro
		
		h1.sedona.text.text--title
			| СЕДОНА — небольшой городок в АРИЗОНЕ,
			| заслуживающий большего!
			
		include ../blocks/advantages/advantages
		
		include ../blocks/offer/offer
		
		include ../blocks/map/map
		
		include ../blocks/footer/footer
	
