extends ./layout

block content
	.wrapper
		- var page = 'review'
		include ../blocks/menu/menu
		
		include ../blocks/intro/intro
		
		include ../blocks/review/review
		
		include ../blocks/footer/footer
		
		include ../blocks/modal/modal
	
