section.advantages
	p.advantages__intro.text Рассмотрим 5 причин, по которым Седона круче чем гранд каньон!
	
	include ../advantage-block/advantage-block--1
	
	include ../stuff/stuff
	
	include ../advantage-block/advantage-block--2
	
	include ../advantage-block/advantage-block--3
