.video
	margin 65px 0 75px

	@media (max-width: $tablet-bp)
		margin-bottom 45px

	@media (max-width: $mobile-bp)
		margin-top 38px

	&__title
		margin 0 0 25px
		font-size 30px
		font-weight 600
		text-transform uppercase

		@media (max-width: $mobile-bp)
			margin-bottom 32px
			font-size 18px

	&__text

		@media (max-width: $mobile-bp)
			padding 0 15px

	&__container
		position relative
		margin 65px auto 0
		width 800px
		height 450px

		@media (max-width: $tablet-bp)
			width 648px
			height 365px
			overflow hidden

		@media (max-width: $mobile-bp)
			margin-top 40px
			width 320px
			height 245px
			overflow visible

	&__player

		@media (max-width: $tablet-bp)
			width 648px
			height 365px

		@media (max-width: $mobile-bp)
			width 320px
			height 180px

	&__controls
		position absolute
		left 0
		bottom 0
		width 100%
		height 95px
		display flex
		justify-content space-between
		align-items center
		text-align left
		background-color rgba(0, 0, 0, .6)

		@media (max-width: $mobile-bp)
			bottom -1px
			justify-content center
			height 112px
			background-color transparent

	&__playing
		display flex
		align-items center

		@media (max-width: $mobile-bp)
			flex-direction column

	&__btns

		@media (max-width: $mobile-bp)
			display flex
			align-items center
			justify-content space-between
			width 100%
			height 66px
			background-color #f2f2f2

	&__btn
		padding 0
		display block
		border 0
		outline 0
		cursor pointer

		&--play
			margin-left 35px

			&--desktop
				@extend $play

				@media (max-width: $mobile-bp)
					display none

			&--mobile
				margin-left 23px
				display none
				@extend $play_gray

				@media (max-width: $mobile-bp)
					display block

		&--pause
			margin-left 35px
			display none

			&--desktop
				@extend $pause

			&--mobile
				margin-left 23px
				display none
				@extend $pause_gray

		&--full
			margin-right 40px

			&--desktop
				@extend $fullscreen

				@media (max-width: $mobile-bp)
					display none

			&--mobile
				margin-right 23px
				display none
				@extend $fullscreen_gray

				@media (max-width: $mobile-bp)
					display block

	&__seek
		display flex
		order 1

		@media (max-width: $mobile-bp)
			order 0
			justify-content center
			align-items center
			width 280px
			height 45px
			background-color rgba(0, 0, 0, .6)

	&__seekbar
		margin-left 40px
		flex 540px 0 0
		width 540px
		height 3px
		background-color rgba(255, 255, 255, .2)
		-webkit-appearance none

		@media (max-width: $tablet-bp)
			width 390px
			flex 390px 0 0

		@media (max-width: $mobile-bp)
			margin-left 0
			width 235px
			flex 235px 0 0

		&::-webkit-slider-thumb
			width 9px
			height 9px
			border-radius 50%
			border none
			background-color #fff
			cursor pointer
			-webkit-appearance none

		&::-moz-range-thumb
			width 9px
			height 9px
			border-radius 50%
			border none
			background-color #fff
			cursor pointer

		&:focus
			outline none

		&:-moz-focusring
			outline 1px solid white
			outline-offset -1px
