.intro
	position relative
	margin-bottom 50px
	display flex
	flex-direction column
	justify-content space-between
	align-items center
	margin-top -40px
	width 100%
	height 518px
	background-image url('/images/intro_bg@2x.jpg')
	background-position 50% 0

	@media (max-width: $tablet-bp)
		margin-top -27px

	@media (max-width: $mobile-extra-bp)
		height 389px
		background-image url('/images/intro_bg.jpg')

	&--cropped
		height 300px
		background-position 0 100%

		@media (max-width: $tablet-bp)
			height 290px
			background-position 50% 100%

		@media (max-width: $mobile-extra-bp)
			height 158px

		& .intro__text
			margin-top 100px
			height 80px
			background-position-y -136px

			@media (max-width: $tablet-bp)
				margin-top 96px

			&--mobile

				@media (max-width: $mobile-bp)
					margin-top 96px
					height 48px
					background-position-y -81px

				@media (max-width: $mobile-extra-bp)
					margin-top 52px

	&__text
		margin-top 78px
		display inline-block

		&--desktop
			@extend $intro_text

			@media (max-width: $mobile-bp)
				display none

		&--mobile
			margin-top 90px
			display none
			@extend $intro_text--mobile

			@media (max-width: $mobile-bp)
				display block

	&__bottom
		display inline-block
		@extend $intro_bottom

		@media (max-width: $mobile-extra-bp)
			position absolute
			bottom 0
